  <h2 class="text-success">Register</h2>
  <div>
    Already have an account?
    <a routerLink="/signin" class="text-decoration-none fw-medium text-success d-inline-block">Login</a>
  </div>

<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">

  <!-- FULL NAME -->
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzValidateStatus]="form.controls['fullName']" [nzErrorTip]="fullNameErrorTpl">
      <div class="input-4">
        <input type="text" nz-input placeholder=" " class="form-control" formControlName="fullName" required />
        <span class="material-symbols-outlined">person</span>
        <label>Full Name</label>
      </div>
    </nz-form-control>
  </nz-form-item>
  <ng-template #fullNameErrorTpl>
    <ng-container *ngIf="form.controls['fullName'].hasError('required')">Full name is required.</ng-container>
  </ng-template>

  <!-- EMAIL -->
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzValidateStatus]="form.controls['email']" [nzErrorTip]="emailErrorTpl">
      <div class="input-4">
        <input type="email" nz-input placeholder=" " class="form-control" formControlName="email" required />
        <span class="material-symbols-outlined">mail</span>
        <label>Email address</label>
      </div>
    </nz-form-control>
  </nz-form-item>
  <ng-template #emailErrorTpl>
    <ng-container *ngIf="form.controls['email'].hasError('required')">Email is required.</ng-container>
    <ng-container *ngIf="form.controls['email'].hasError('email')">Enter a valid email.</ng-container>
  </ng-template>

  <!-- PASSWORD -->
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzValidateStatus]="form.controls['password']" [nzErrorTip]="passwordErrorTpl">
      <div class="input-4">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder=" " class="form-control" formControlName="password" required />
        <span class="material-symbols-outlined">lock</span>
        <label>Password</label>
        <span class="material-symbols-outlined clickable-icon" (click)="passwordVisible = !passwordVisible">
          {{ passwordVisible ? 'visibility_off' : 'visibility' }}
        </span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <ng-template #passwordErrorTpl>
    <ng-container *ngIf="form.controls['password'].hasError('required')">Password is required.</ng-container>
    <ng-container *ngIf="form.controls['password'].hasError('minlength')">Min. 6 characters required.</ng-container>
    <br/>
    <ng-container *ngIf="form.controls['password'].hasError('pattern')">Must include at least 1 special character.</ng-container>
  </ng-template>

  <!-- CONFIRM PASSWORD -->
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzValidateStatus]="form.controls['confirmPassword']" [nzErrorTip]="confirmPasswordErrorTpl">
      <div class="input-4">
        <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input placeholder=" " class="form-control" formControlName="confirmPassword" required />
        <span class="material-symbols-outlined">lock</span>
        <label>Confirm Password</label>
        <span class="material-symbols-outlined clickable-icon" (click)="confirmPasswordVisible = !confirmPasswordVisible">
          {{ confirmPasswordVisible ? 'visibility_off' : 'visibility' }}
        </span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <ng-template #confirmPasswordErrorTpl>
    <ng-container *ngIf="form.controls['confirmPassword'].hasError('required')">Confirm password is required.</ng-container>
    <ng-container *ngIf="form.controls['confirmPassword'].hasError('passwordMismatch')">Passwords do not match.</ng-container>
  </ng-template>

  <!-- SUBMIT BUTTON -->
  <div class="mt-2">
    <button type="submit" class="btn btn-success w-100 rounded-3">Register</button>
  </div>
</form>
