<nz-layout class="full-layout" [appHideIfClaimsNotMet]="claimReq.superAdminOnly">
  <!-- Sidebar -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" class="sidebar">
    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></span>
    <ul nz-menu nzTheme="light" nzMode="inline">
      <!-- Global Admin Only -->
      <li nz-menu-item [appHideIfClaimsNotMet]="claimReq.superAdminOnly">
        <nz-icon nzType="home"></nz-icon>
        <span><a routerLink="/dashboard">Dashboard</a></span>
      </li>
      <li nz-menu-item [appHideIfClaimsNotMet]="claimReq.superAdminOnly">
        <nz-icon nzType="user-add" nzTheme="outline"></nz-icon>
        <span><a routerLink="/roles">Manage Roles</a></span>
      </li>
      <li nz-menu-item [appHideIfClaimsNotMet]="claimReq.superAdminOnly">
        <nz-icon nzType="user"></nz-icon>
        <span><a routerLink="/site-users">Global Users</a></span>
      </li>
      <li nz-menu-item [appHideIfClaimsNotMet]="claimReq.superAdminOnly">
        <nz-icon nzType="setting"></nz-icon>
        <span><a routerLink="/admin-settings">Settings</a></span>
      </li>
    </ul>
  </nz-sider>

  <!-- Main Layout Content -->
  <nz-layout>
    <!-- Header -->
    <nz-header class="header">
      <div class="header-left">
        <img src="assets/logo.png" alt="Logo" class="logo" />
        <span class="title">Project Management</span>
      </div>
      <div class="header-content">
        <div class="search-bar">
          <input nz-input placeholder="Search..." />
          <button nz-button nzType="default">
            <nz-icon nzType="search"></nz-icon>
          </button>
        </div>
       <!--<nz-switch [(ngModel)]="isDarkMode" (ngModelChange)="toggleTheme()">
          <ng-template #checkedChildren>Dark</ng-template>
          <ng-template #unCheckedChildren>Light</ng-template>
        </nz-switch>
        --> 
        <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="onLogout()">
          <nz-icon nzType="logout"></nz-icon>
          Logout
        </button>
      </div>
    </nz-header>

    <!-- Content -->
    <nz-content class="content">
      <router-outlet>
        <div class="text-center">
          <h1 class="display-6">Welcome Aboard!</h1>
          <h1 class="display-6 fw-bolder text-dark">{{fullName}}</h1>
          <button [appHideIfClaimsNotMet]="claimReq.superAdminOnly" class="btn btn-danger">Some Admin Operation</button>
        </div>
      </router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

